html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-login {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  background-image: url("../../public/imgs/backgroundLogin.png");
  background-size: cover;
  background-position-x: center;
  opacity: 10%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 140px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
}

* {
  box-sizing: border-box;
}
